@*Utils Index*@

@section styles{
@Styles.Render("~/Content/style")
@*@Styles.Render("~/Content/utils")*@
}

<div id="app-container" class="app-container" ng-app="utils" ng-controller="UtilsCtrl" zb-route-styles>
    <div ng-view id="page-view" class="page-view"></div>
</div>

@section scripts{
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/angular")
@Scripts.Render("~/bundles/ui-boots")
@Scripts.Render("~/bundles/angstyles")
@Scripts.Render("~/bundles/rwutils")
@Scripts.Render("~/bundles/utils")
}
